<section class="mx-10">
  <h1 class="text-3xl">{{country().name}}</h1>
  <h1 class="text-xl font-thin">Pupulation: {{country().population | number }}</h1>
</section>

<section class="stats shadow mx-5">
  <div class="stat place-items-center">
    <div class="stat-title">Population</div>
    <div class="stat-value">{{country().population | number }}</div>
    <div class="stat-desc">Since {{currentYear()}}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Country</div>
    <div class="stat-value text-secondary">{{country().name}}</div>
    <div class="stat-desc text-secondary">{{country().region}} </div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Sub region</div>
    <div class="stat-value">{{country().subregion}}</div>
    <div class="stat-desc">{{country().region}}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Country Flag</div>
    <div class="stat-value">{{country().flagIcon}}</div>
    <div class="stat-desc">{{country().region}}</div>
  </div>
</section>

<section>
  <figure class="diff aspect-16/9" tabindex="0">
    <div class="diff-item-1" role="img">
      <img [alt]="country().name" [src]="country().flagSvg" />
    </div>
    <div class="diff-item-2" role="img" tabindex="0">
      <img class="blur-lg brightness-75"
        [alt]="country().name"
        [src]="country().flagSvg" />
    </div>
    <div class="diff-resizer"></div>
  </figure>
</section>




